<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 120px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Ajouter un Engin</h3>
            </div>
            <div class="col-4 text-right">
              <a routerLink="/camions" class="btn btn-sm btn-primary">Annuler</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <h6 class="heading-small text-muted mb-4">Informations sur l"engin </h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="Marque">Marque</label>
                    <input type="text" id="Marque" name="marque" class="form-control form-control-alternative" placeholder="Volvo | Mercedes | Scania | ..." ngModel>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="Carburant">Modele</label>
                    <input type="text" id="Carburant" name="modele" class="form-control form-control-alternative" placeholder="2016 | 2017 | 2018 | 2019 | 2020" ngModel>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="tonnage">Type</label>
                    <input type="text" id="tonnage" name="type" class="form-control form-control-alternative" placeholder="Lourd | ..." ngModel>
                  </div>
                </div>


                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="modele">Poids</label>
                    <input type="text" id="modele" name="poids" class="form-control form-control-alternative" placeholder="... Tonnes" ngModel>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="boiteVitesse">Statut</label>
                    <input type="text" id="boiteVitesse"  name="statut" class="form-control form-control-alternative" placeholder="A marche | En panne" ngModel>
                  </div>
                </div>


                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="Kilométrage">Désignation</label>
                    <input type="text" id="Kilométrage" name="designation" class="form-control form-control-alternative" placeholder="A propos de l'engin " ngModel>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="Puissance">Carburant</label>
                    <input type="text" id="Puissance" name="carburant" class="form-control form-control-alternative" placeholder="Hybride | Essence | Électrique | Diesel " ngModel>
                  </div>
                </div>

              </div>
              <div class="text-center">
                <button type="submit"  class="btn btn-primary my-4">Ajouter l'engin </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
